@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

$header-height: 3rem;
$menu-size: 10rem;
$theme-color: #000;

@mixin file_label_relation{
    .back, .file_menu, .folder_container{
        height: $menu-size;
        width: $menu-size;
        margin: 1rem;
        img {display: block;
            margin-top: 1.5rem;
            margin-left: 2rem;
            height: 6rem;
            width: 6rem;
            text-align: center;
            cursor: pointer;
            &:hover {
                opacity: 0.5;
            }
         }
         
        .fa-file-upload, .fa-file-pdf {display: block;
            margin-top: 1.5rem;
            font-size: 6rem;
            text-align: center;
            cursor: pointer;
            color: $theme-color;
            &:hover {
                opacity: 0.5;
            }
         }
         label{
            display: block;
            margin: -1rem;
            text-align: center;
         }
         a {
            color: $theme-color;
         }
         p {
             font-size: 2rem;
         }
    }
  }

header {color: #fff;
        background-color: $theme-color;
        height: $header-height;
        width: 100%;
        display: inline-flex;
        justify-content: center;
    h2 {position: absolute;
       top:0.3rem; left:1rem; 
        cursor: pointer;
    }
    a {font-size: 1rem;
        text-align: center;
        line-height: $header-height;
        margin: 0.1rem 0.5rem;
     }
    #logout {display: none;
        color: white;
        font-size: 1rem;
        margin: 0;
        padding: 0.5rem 2rem;
        background-color: $theme-color;
        position: absolute;
        top:$header-height - 0.5rem; left: 0;
        cursor: pointer;
     }
    img {display: block;
        margin: 0 auto;
        padding: 0.3rem;
        height: $header-height;
        width: $header-height;
        opacity: 0.4;
        &:hover {
            opacity: 1;
        }
    }
    
    .fa-bars {display: none;
    }
}

.menu {
    display: flex;
    #arrow_right {
        display: none;
        margin-top: 2.5rem;
        height: 6rem;
        width: 6rem;
        text-align: center;
     }
    
    @include file_label_relation;

    .file_menu_hidden {
        display: none;
        height: $menu-size;
        width: $menu-size*2;
        margin: 1rem;
        padding: 2rem auto;
        

        .form {
            margin: 2rem; 
        }
        
        button[type="submit"] {
            display: block;
            font-size: 1.8rem;
            border: solid 1px $theme-color;
            border-radius: 4px;
            margin: 1rem auto;
            padding: 0 1rem;
        }
    }
         
    
}

.folder_box{
    display: flex;
    @include file_label_relation;
    .fa-file-pdf {
        display: block;
    }
    a {display: block;
        margin-top: 1rem;
        color: $theme-color;
    }
}