@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
body {
	font-family: 'Noto Sans Japanese', sans-serif;
}

$header-height: 3rem;

header{color: #fff;
    background-color: black;
    height: $header-height;
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;
    .fa-bars {display: none;
    }
}

img {display: block;
height: 4rem;
width: 7rem;
object-fit: contain;
margin: 2rem auto 0;
}

hr {
width: 100%;
size: 2px;
border-color: black;
margin: 0 auto;
margin-bottom: 1rem;
}

.login_container {
    width: 25rem;
    margin: 0 auto;
    padding: 0.5rem;
    h3 {font-size: 1.5rem;
    text-align: center;
    }
    h1 {font-size: 4rem;
    text-align: center;
    }
    label {
        padding-top: 0.5rem;
        font-weight: bold;
    }
    #name{
    padding-right: 5rem;
    }
    #password{
    padding-right: 2rem;
    }
    #inputArea{margin: 0 auto 1rem;
      border: solid 1px black;
    }
    #department{
    margin-left: 7rem;
    }
    
    #login, #register{
    display: block;
    text-align: center;
    margin: 2rem auto 0;
    line-height: 3rem;
    width: 15rem;
    border: solid 1px black;
    border-radius: 10px;
    background-color: black;
    text-decoration: none;
    font-size: 2rem;
    color: #fff;
        h4 {
        font-size: 1rem;
        font-weight: normal;
        }
        p {
        text-align: center;
        }
    }
}

#radio_emp {
    display: none;
}