@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

$header-height: 3rem;
$body-height: 20rem;
$menu-size: 10rem;
$theme-color: #000;

body {color: #fff;
    height: $body-height;
    width: 100%;
    display: inline-flex;
    align-content: center;
    
    img {display: block;
        margin: 0 auto;
        padding: 0.3rem;
        height: $body-height /4;
        width: $body-height /4;
        &:hover {
            opacity: 0.4;
        }
    }

    .fa-bars {display: none;
    }
}