@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

$header-height: 3rem;

header {color: #fff;
        background-color: black;
        height: $header-height;
        width: 100%;
        display: inline-flex;
        justify-content: flex-end;
    h2 {position: absolute;
       top:0.3rem; left:0.3rem; 
    }
    a {font-size: 1rem;
        text-align: center;
        line-height: $header-height;
        width: 6rem;
        color: #fff;
        background-color: rgb(70, 70, 70);
        text-decoration: none;
        margin-left: 1px;
    }

    .fa-bars {display: none;
    }
}

p {text-align: right;
}

.fa-file-upload{
    font-size: 6rem;
 }

.folder_container {
    width: 90%;
    margin: 3rem auto;
    i {font-size: 8rem;
       padding: 0.5rem;
    }
    
    label {position:relative;
        top:1.5rem; left:6.8rem;
    }
}